<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<link rel="stylesheet" href="assets/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owl.theme.default.min.css">

<%= stylesheet_link_tag 'pages/navbar' %>   
<%= stylesheet_link_tag 'pages/pricing' %>   
<%= stylesheet_link_tag 'pages/footer' %> 

</head>
<body>

<%= render 'layouts/navbar_simple' %>
<section id="pricing_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pricing_heading">
          <h3>Pricing Plan</h3>
          <p>Transparency in pricing plans is our hallmark so that you are always fully aware of the exact transaction you have to do. There are no hidden charges or even any ‘hidden’ monthly or weekly fee. You are entitled to pay what you bargained for</p>
        </div>
      </div>
    </div>
    <div class="integrated_sec">
        <div class="integrated_left">
          <h4>Integrated Pricing Plan</h4>
          <h5>2.9% + 30 c</h5>
          <p>We offer a fully integrated platform for all your online payments, with an easy pricing plans and tension-free access. You are entitled to:
          </p>
          <ul>
            <li>
              Telephone and email support
            </li>
            <li>
              No set up fees
            </li>
            <li>
              No hidden charges or monthly fees
            </li>
            <li>
                1 Year License
            </li>
            <li>
              Integrated platform to manage all the payments
            </li>
          </ul>
          <div class="get_started_btn">
            <a href="#">GET STARTED ></a>
          </div>
        </div>
        <div class="customized_right">
            <h4>Customized Pricing Plan</h4>
            <p>Worldpayments offer you services to design a customized package for all your business needs. It includes:
            </p>
            <ul>
              <li>
                Discounts on multiple products
              </li>
              <li>
                Freedom to establish your own Amex rates
              </li>
              <li>
                Pricing that can be interchanged
              </li>
              <li>
                Volume-Discounts
              </li>
            </ul>
            <div class="get_started_btn">
              <a href="#">CONTACT SALES</a>
            </div>
        </div>
        <div class="clear_e"></div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>

</body>

</html>
