<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<link rel="stylesheet" href="assets/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owl.theme.default.min.css">

<%= stylesheet_link_tag 'pages/navbar' %>
<%= stylesheet_link_tag 'pages/pricing' %>
<%= stylesheet_link_tag 'pages/footer' %>

<style>
  .log_main {
    width: 100%;
  }

  .nav_login {
    width: 40%;
  }

  .contact_heading h3 {
    font-size: 40px;
  }

  @media only screen and (max-width: 767px)  {
    iframe#hs-form-iframe-0.hs-form-iframe {
      width: 320px;
      margin-top: 30px;
    }

</style>

</head>
<body>

<%= render 'layouts/navbar_simple' %>


<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact_heading">
          <h3>Contact Us</h3>
          <p>
            We’re happy to answer any questions you may have, just send us a message.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-center">
         <div class="contact-info">
           <div style=" padding:20px; border-style:solid; border-width:1px; border-color:#E3E3E3; border-radius:10px; width:320px; margin: 0 auto;">

          <div class="location">
          <div style="float:left;">
           <img src="/assets/svg/location.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Location</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           160 Kemp House City Road<br> London EC1V 2NX</p>
          </div>
         </div>

         <div class="contact-sales">
          <div style="float:left;">
           <img src="/assets/svg/contact_sales.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Contact Sales</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           sales@worldpayments.com</p>
          </div>
         </div>

        <div class="support">
          <div style="float:left;">
           <img src="/assets/svg/support.svg">
          </div>
          <div style="text-align: left; margin-left: 40px;">
           <h3 style="color:#585858; line-height: 20px; font-size:16px; font-family:poppins; font-weight:500;">Support</h3>
           <p style="color:#585858; line-height: 20px; font-size:15px; font-family:raleway; font-style:regular;">
           support@worldpayments.com</p>
          </div>
         </div>

         </div>
       </div>
      </div>
      <div class="col-md-7">
        <div class="contact_us_form">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "7264984",
	formId: "2d0426f0-a328-4a49-968a-15ae3a993b04"
});
</script>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="google_map">
  <img src="/assets/contact/map-img.png">
</section>

<%= render 'layouts/footer' %>

</body>

</html>
