<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%= stylesheet_link_tag 'pages/bootstrap.min.css' %>  
<%= stylesheet_link_tag 'pages/navbar' %> 
<%= stylesheet_link_tag 'pages/home' %>   
<%= stylesheet_link_tag 'pages/footer' %>  
</head>
<body>
<header id="main_home_bg">
  <div class="container_e">
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-md-5">
        <div class="home_banner_text_part">
          <div class="d_banking_link">
            <a href="/online_payments">
              <span>NEW</span>
              Introducing Online Payments >
            </a>
          </div>
          <div class="home_banner_heading">
            <h3>
               Fastest Growing Online Payment Gateway 
            </h3>
            <p>
                World Payments is a unique online payment gateway that specializes in offering a digital world to the businesses and professionals. Your online transactions are just a click away. 
            </p>
            <button class="creat_acc open_signup">CREATE ACCOUNT ></button>
            <button class="contact_sale">CONTACT SALES</button>
          </div>
          <div class="plus_icon desktop">
            <img src="/assets/home/home-plus.svg">
          </div>
        </div>
      </div>
      <div class="col-md-6 phone_routate">
        <div class="home_banner_img_part">
          <img class="block_img" src="/assets/home/mins-icon.svg">
          <img src="/assets/home/cir-icon.svg">
        </div>
      </div>
    </div>
    <div class="home_banner_img_phone">
      <img src="/assets/home/home-banner-phone.svg">
    </div>
  </div>
<header>
<section id="our_services_sec">
  <div class="container_e">
    <div class="row">
        <div class="col-md-5">
          <div class="services_heading">
            <h3>
              <img src="/assets/home/services-icon.svg">
              OUR SERVICES
            </h3>
            <p>
               World Payments offer a range of interactive services to facilitate all your online transactions. Our services include different online and telephone payment methods. The businesses are supported by the POS system to give control to the user. 
            </p>
            <form>
              <div class="email_f">
                <input type="email" placeholder="Email">
              </div>
              <div class="get_start">
                <button>GET STARTED</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <div class="ser_payment_box poTop">
                <img src="/assets/home/ser-payment.svg">
                <h3>Payments</h3>
                <p>World payments give you a variety of online payment systems that can be done through the card or on spot through card machines or even NFC payments. Payment APIs are employed to power the commerce world.
                </p>
                <button><a href="/online_payments" class="text-white">Learn More --></a></button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ser_telephone_box">
                <img src="/assets/home/ser-telephone.svg">
                <h3>Telephone Paymnets</h3>
                <p>In our pursuit of providing more services, we make the process of taking credit or debit card payments via phone through card machines. 
                </p>
                <button><a href="/telephone_payments" class="text-white">Learn More --></a></button>
              </div>

              <div class="ser_pos_box mTop">
                <img src="/assets/home/ser-pos.svg">
                <h3>POS System</h3>
                <p>Point of Sale is a powerful Software that is interactive & simple enough to aid the user to have ample control of sales. POS offers operations both through keyboards and touch screens.
                </p>
                <button><a href="/pos" class="text-white">Learn More --></a></button>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</section>


<section id="super_charge_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-md-5">
        <div class="super_charge_text">
          <h3>
            Check out how easy our integration is!
          </h3>
          <p>
             Internet commerce has become easier than before with the help of our flexible and powerful tools. You know you can trust us if you intend to do any of the following:</p>
             <ul>
               <li class="li_style">On-demand market place</li>
               <li class="li_style">E-commerce store</li> 
               <li class="li_style">Subscription service</li>
               <li class="li_style">Crowdfunding platform</li>
             </ul>
              
            <p class="triple-pad-bottom">Our APIs that are designed with careful operations and workings helps you in creating state-of-the-art services for all your users.</p>

          </p>
          <form class="desktop">
            <div class="email_f_super">
              <input type="email" placeholder="Email">
            </div>
            <div class="get_start">
              <button>GET STARTED</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
  <div class="animation_img">
    <img src="/assets/home/animate.png">
  </div>
</section>

<section id="developers_first_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-md-12">
        <div class="developers_first_heading">
          <h3>
              Developers World
          </h3>
          <p>
            Online payment is an intricate system that is based on codes and not on finances. At World Payments, we strive to work with and around abstractions that are multi-dimensional and composable, that ensures user-friendly and flexible integrations. Use World Payments in the matter of minutes for your transactions knowing that we have eliminated all the complexities.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="tab_list_e">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Payments</a></li>
            <li><a data-toggle="tab" href="#menu2">Customer</a></li>
            <li><a data-toggle="tab" href="#menu3">Subscription</a></li>
            <li><a data-toggle="tab" href="#menu4">Reporting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 tab_content_bg">
        <div class="tab-content ">
          <div id="menu1" class="tab-pane tab_pane_e  in active">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="menu2" class="tab-pane tab_pane_e fade">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu3" class="tab-pane tab_pane_e fade">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div id="menu4" class="tab-pane tab_pane_e fade">
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ready_to_get_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-md-5">
        <div class="ready_to_get_text">
          <h3>
              Ready To Get Started? 
          </h3>
          <p>
            Get in touch or create an account. 
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="ready_to_get_btn">
          <button class="ready_c_acc open_signup">
            Create Account
          </button>
          <button class="ready_c_sale">
            Contact Sales
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<%= render 'layouts/footer' %>

<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>


</html> 