<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="World Payments is a unique online payment gateway that specializes in offering a digital world to the businesses and professionals. Your online transactions are just a click away.">
<meta name="author" content="World Payments">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payments | Leading High-Risk Payment Processor</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap" rel="stylesheet">
<%= stylesheet_link_tag 'pages/bootstrap.min.css' %>
<%= stylesheet_link_tag 'pages/navbar' %>
<%= stylesheet_link_tag 'pages/home' %>
<%= stylesheet_link_tag 'pages/footer' %>
<%= stylesheet_link_tag 'slick-theme.css' %>
<%= stylesheet_link_tag 'slick.css' %>

<style>
  #main_home_bg {
    background-image: url("/assets/svg/home_header_bg.svg");
    min-height: 770px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
  }

  #why_use_virtual_sec{
    background-image: url("/assets/svg/why_worldpayments_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
  }

  .button {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 125px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background-color: #f905f5;
    color: #fff;
    border-radius: 42px;
    padding: 10px 14px;
    border: 0;
  }

  .button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #585858;
  }

  .get-button {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 125px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background-color: #f905f5;
    color: #fff;
    border-radius: 42px;
    padding: 10px 14px;
    border: 0;
  }

  .get-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #585858;
  }

  .sales-button {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    width: 125px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background-color: #f905f5;
    color: #fff;
    border-radius: 42px;
    padding: 10px 14px;
    border: 0;
  }

  .sales-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #585858;
  }

  .login_button {
    background-color: #58585800;
  }

  .nav_btn a {
    margin-left: 110px;
  }

  .ready_to_get_btn {
    margin-left: 80px;
  }


  @media only screen and (max-width: 767px)  {
    #main_home_bg {
      background-image: url("/assets/svg/home_header_mobile_bg.svg");
      background-size: contain;
    }
    .home_banner_heading {
      text-align: center;
    }
    .d_banking_link {
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left: 0;
      z-index: 1;
      margin-top: 20px;
    }
    .d_banking_link a {
      font-size: 14px;
    }
    .d_banking_link {
      text-align: center;
    }
  }


</style>

</head>
<body>
<header id="main_home_bg">
  <div class="container_e main_home_bg">
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-md-5">
        <div class="home_banner_text_part">
          <div class="d_banking_link">
            <a href="/contact">
              <span style="background-color: #24b47e;">NEW</span>
              Get Started Today! >
            </a>
          </div>
          <div class="home_banner_heading">
            <h3>
              Leading High-Risk Payment Processor!
            </h3>
            <p>
                World Payments is a unique online payment gateway that specializes in offering a digital world to the businesses and professionals. Your online transactions are just a click away.
            </p>
          </div>
          <div>
            <a href="/contact" class="sales-button">Contact Sales ></a>
          </div>
          <div class="plus_icon desktop">
            <img src="/assets/home/home-plus.svg">
          </div>
        </div>
      </div>
      <div class="col-md-6 phone_routate">
        <div class="home_banner_img_part">
          <img class="block_img" src="/assets/home/mins-icon.svg">
          <img src="/assets/home/cir-icon.svg">
        </div>
            <div class="home_banner_img_phone">
      <img src="/assets/home/home-banner-phone.svg">
    </div>
      </div>

    </div>
  </div>
<header>

<!-- Online Payments Solutions Section | Desktop Version -->
<section id="online_payments" style="margin-top: 215px;" class="desktop">

 <div>
  <h1 style="color:#585858; text-align:center; font-size:30px; font-family:poppins; font-weight:500;">
   Online Payment Solutions<br>You Can Rely On
  </h1>
  <img src="/assets/svg/after_Title_Icons_Bar.svg" style="display:block; margin-left:auto; margin-right:auto; margin-top:25px;">
 </div>

 <div style="display:flex; justify-content:center; align-items:center;">
  <div style="float:left; margin-top:30px;">
   <img src="/assets/svg/Accept%20Card%20Payments%20Online.svg" style="width:375px;height:501px;">
  </div>

  <div style="float:left; margin-top:10px;">
   <img src="/assets/svg/Payments%20by%20Virtual%20Terminal.svg" style="width:375px;height:501px;">
  </div>

  <div style="float:left; margin-top:30px;">
   <img src="/assets/svg/Intelligent%20Business%20Reporting.svg" style="width:375px;height:501px;">
  </div>

 </div>
</section>

<!-- Online Payments Solutions Section | Mobile Version -->

<section id="online_payments" class="mobile" style="margin-top:90px;">
  <div style="text-align: center;">
    <div style="padding: 35px;">
      <h1 style="color:#585858; font-size:22px; font-family:poppins; font-weight:500; line-height: inherit;">
        Online Payment Solutions You Can Rely On </h1>
      <img src="/assets/svg/after_Title_Icons_Bar.svg" style="margin-top: 10px;">
    </div>
    <div>
      <div style="margin-top: -55px;">
        <img src="/assets/svg/Accept%20Card%20Payments%20Online.svg" style="width:400px;height:534px;">
      </div>
      <div style="margin-top: -70px;">
        <img src="/assets/svg/Payments%20by%20Virtual%20Terminal.svg" style="width:400px;height:534px;">
      </div>
      <div style="margin-top: -70px;">
        <img src="/assets/svg/Intelligent%20Business%20Reporting.svg" style="width:400px;height:534px;">
      </div>
    </div>
  </div>
</section>

<!-- Checkout Experience Section | Section after online payments solutions -->

<section id="checkout_sec" class="desktop">

 <div style="margin-top:60px;">

  <h1 style="color:#585858; text-align:center; font-size:30px; font-family:poppins; font-weight:500;">
  An Exemplary Checkout Experience</h1>

  <img src="/assets/svg/after_Title_Icons_Bar.svg" style="display:block; margin-left:auto; margin-right:auto; margin-top: 25px">

 </div>

 <div style="margin:30px;">
  <h2 style="color:#585858; margin-left:164px; font-size:25px; font-family:poppins; font-weight:500;">
  One platform, many solutions</h2>

  <p style="color:#585858; margin-left:164px; font-size:20px; font-family:raleway; font-style:regular;">
  World Payments is the answer to your every online transaction concerns</p>
 </div>

 <div style="float:left; position:relative; left:-3%; margin-top:30px; margin-right:40px;">
 <img src="/assets/svg/online_store_img.svg">
 </div>

 <div>
  <ul>
   <li style="list-style-type:none; padding:20px;">
    <img src="/assets/svg/Premium%20Banking%20Network.svg">
   </li>

   <li style="list-style-type:none; padding:20px;">
    <img src="/assets/svg/Unique%20Localized%20Methods.svg">
   </li>

   <li style="list-style-type:none; padding:20px;">
    <img src="/assets/svg/Traffic%20Management.svg">
   </li>

   <li style="list-style-type:none; padding:20px;">
    <img src="/assets/svg/PCI%20Level%20Environment.svg">
   </li>
  </ul>
 </div>

</section>

<!-- Checkout Experience Section | Mobile Version -->

<section id="checkout_sec" class="mobile">
  <div style="text-align: center; margin-bottom: 35px;">
    <div style="margin:30px;">
      <h1 style="color:#585858; font-size:22px; font-family:poppins; font-weight:500; margin: 0;">
        An Exemplary Checkout Experience</h1>
      <img src="/assets/svg/after_Title_Icons_Bar.svg" style="margin-top: 10px;">
    </div>
    <div style="margin:30px;">
      <h2 style="color:#585858; font-size: 20px; font-family:poppins; font-weight:500;">
        One platform, many solutions</h2>
      <p style="color:#585858; font-size: 18px; font-family:raleway; font-style:regular;">
        World Payments is the answer to your every online transaction concerns</p>
    </div>
    <div style="display: inline-block;">
      <ul style="text-align: left; margin-left: -30px;">
        <li style="list-style-type:none;">
          <img src="/assets/home/premium_banking_network_mobile.svg">
        </li>
        <li style="list-style-type:none;">
          <img src="/assets/home/unique_localized_methods_mobile.svg" style="margin-top: 30px;">
        </li>
        <li style="list-style-type:none;">
          <img src="/assets/home/traffic_management_mobile.svg" style="margin-top: 30px;">
        </li>
        <li style="list-style-type:none;">
          <img src="/assets/home/pci_level_environment_mobile.svg" style="margin-top: 30px;">
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- Call to Action Section | After Checkout Experience Section -->

<section id="call_to_action_bar" style="margin-bottom: 250px" class="desktop">

<div>
 <div>
  <img src="/assets/svg/call_to_action_bar.svg" style="display:block; margin-left:auto; margin-right:auto;">
 </div>

 <div style="display:flex; justify-content:center; align-items:center; position:relative; margin-top:-300px">
  <h1 style="color:#fff; text-align:center; font-size:30px; font-family:poppins; font-weight:500;">Get Your Payment Gateway Today!</h1>
 </div>

 <div style="display:flex; justify-content:center; align-items:center;">
  <a href="/contact" class="button" style="padding: 0; width: 180px; text-align: center;">Inquire Now</a>
 </div>

</div>
</section>

<!-- Hide this section
<section  class="our_services_div mobile">
  <div class="container_e   ">
    <div class="row">
      <div class="col-md-5">
        <div class="our_services">
          <h3>
            Our Services
          </h3>
          <div class="pink_bar">
          </div>
          <div class="pink_bar">
          </div>
          <div class="pink_bar">
          </div>
          <p>
            World Payments offer a range of interactive services to facilitate all your online transactions, Our services include different online and telephone payment methods, The business are supported by the POS system to give control to the user.
          </p>
        </div>
      </div>
    </div>
    <div class="row responsive ">
      <div class="service_list">
        <div class="col-md-7 services_panel">
          <img src="/assets/home/payments.svg" class="">
          <h3>Payments</h3>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <p>Online payment processing for internet businesses is a suite of payment APIs that powers commerce for online businesses of all sizes.</p>
          <span><a href="/online_payments">Learn More</a></span>
        </div>
      </div>
      <div class="service_list">
        <div class="col-md-7 services_panel">
          <img src="/assets/home/card_machine.svg" class="">
          <h3>Card Machines</h3>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <p>World Payments offer you ease of access and smarter use of card machines for secure transactions in your business.</p>
          <span><a href="/card_machine">Learn More</a></span>
        </div>
      </div>
      <div class="service_list">
        <div class="col-md-7 services_panel">
          <img src="/assets/home/pos.svg" class="">
          <h3>POS System</h3>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <div class="blue_bar"></div>
          <p>Point of Sale Software is a powerful program that enable user to have the completely control of sales. The Pos software can be operate either by keyboard or by touch screen.</p>
          <span><a href="/pos">Learn More</a></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="our_services_sec" class="desktop">
  <div class="container_e">
    <div class="row">
        <div class="col-md-5">
          <div class="services_heading">
            <h3>
              <img src="/assets/home/services-icon.svg">
              OUR SERVICES
            </h3>
            <p>
               World Payments offer a range of interactive services to facilitate all your online transactions. Our services include different online and telephone payment methods. The businesses are supported by the POS system to give control to the user.
            </p>
            <form>
              <div class="email_f">
                <input type="email" placeholder="Email">
              </div>
              <div class="get_start">
                <button>GET STARTED</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <div class="ser_payment_box poTop">
                <img src="/assets/home/ser-payment.svg">
                <h3>Payments</h3>
                <p>World payments give you a variety of online payment systems that can be done through the card or on spot through card machines or even NFC payments. Payment APIs are employed to power the commerce world.
                </p>
                <button><a href="/online_payments" class="text-white">Learn More</a></button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ser_telephone_box">
                <img src="/assets/home/ser-telephone.svg">
                <h3>Telephone Paymnets</h3>
                <p>In our pursuit of providing more services, we make the process of taking credit or debit card payments via phone through card machines.
                </p>
                <button><a href="/telephone_payments" class="text-white">Learn More</a></button>
              </div>

              <div class="ser_pos_box mTop">
                <img src="/assets/home/ser-pos.svg">
                <h3>POS System</h3>
                <p>Point of Sale is a powerful Software that is interactive & simple enough to aid the user to have ample control of sales. POS offers operations both through keyboards and touch screens.
                </p>
                <button><a href="/pos" class="text-white">Learn More</a></button>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</section>
-->

<section id="super_charge_sec" class="desktop">
  <div class="container_e">
    <div class="row">
      <div class="col-md-5">
        <div class="super_charge_text">
          <h3>
            Check out how easy our integration is!
          </h3>
          <p>
             Internet commerce has become easier than before with the help of our flexible and powerful tools. You know you can trust us if you intend to do any of the following:</p>
             <ul>
               <li class="li_style">On-demand market place</li>
               <li class="li_style">E-commerce store</li>
               <li class="li_style">Subscription service</li>
               <li class="li_style">Crowdfunding platform</li>
             </ul>

            <p class="triple-pad-bottom">Our APIs that are designed with careful operations and workings helps you in creating state-of-the-art services for all your users.</p>
          <form class="desktop">
            <div class="email_f_super">
              <input type="email" placeholder="Email">
            </div>
            <div class="get_start">
              <button>GET STARTED</button>
            </div>
          </form>
        </div>
      </div>
    <div class="animate_img_div">
      <img  class="animate_img" src="/assets/home/anmation.svg">
    </div>
      <div class="col-md-7"></div>
    </div>
  </div>

</section>

<!-- Hide this section
<section id="developers_first_sec" >
  <div class="container_e">
    <div class="row">
      <div class="col-md-12">
        <div class="developers_first_heading">
          <h3>
              Developers World
          </h3>
          <p>
            Online payment is an intricate system that is based on codes and not on finances. At World Payments, we strive to work with and around abstractions that are multi-dimensional and composable, that ensures user-friendly and flexible integrations. Use World Payments in the matter of minutes for your transactions knowing that we have eliminated all the complexities.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="tab_list_e">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Payments</a></li>
            <li><a data-toggle="tab" href="#menu2">Customer</a></li>
            <li><a data-toggle="tab" href="#menu3">Subscription</a></li>
            <li><a data-toggle="tab" href="#menu4">Reporting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 tab_content_bg">
        <div class="tab-content ">
          <div id="menu1" class="tab-pane tab_pane_e  in active">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="menu2" class="tab-pane tab_pane_e fade">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu3" class="tab-pane tab_pane_e fade">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          <div id="menu4" class="tab-pane tab_pane_e fade">
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<!-- Why Choose Worldpayments | Copied from telephone payments. -->

<section id="why_use_virtual_sec">
  <div class="container">
    <div class="w_use_virtual_heading">
      <h3>Why Use WorldPayments</h3>
      <p>World Payments gives you easier and quick access without getting lost in technical jargon. Our user-friendly interface is designed, keeping in mind the requirements and usage of customers. Your payment gateway will do all the tasks needed giving you freedom and relaxation.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="w_use_virtual_icon">
          <img src="/assets/telephone_payments/w_use_icon-1.svg">
          <h3>History of Payments</h3>
          <p>Real-time reports of payment history help to keep a track of every payment.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="w_use_virtual_icon">
          <img src="/assets/telephone_payments/w_use_icon-2.svg">
          <h3>Protection of Payments</h3>
          <p>A highly developed system of risk management for a state-of-the-art protection system against fraud.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="w_use_virtual_icon">
          <img src="/assets/telephone_payments/w_use_icon-3.svg">
          <h3>System Access</h3>
          <p>Our web interface is secure enough to make payments over phone easily.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ready_to_get_sec" >
  <div class="container_e">
    <div class="row">
      <div class="col-md-5">
        <div class="ready_to_get_text">
          <h3>
              Ready To Get Started?
          </h3>
          <p>
            Get in touch or create an account.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="ready_to_get_btn">
          <a href="/contact" class="sales-button">Contact Sales ></a>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
<%= render 'layouts/footer' %>
<%=  %>
  <%= javascript_include_tag 'slick.min.js' %>
<script type="text/javascript">
 $(document).ready(function() {
  var slider2 = $('.responsive').slick({
    dots: true,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 50000,
    pauseOnFocus: false,
    pauseOnHover: false,
    pauseOnDotsHover: false,
    slidesToShow: 1,
    slidesToScroll: 1,

  });

  //Hide the Previous button.
  $('.slick-prev').hide();

  slider2.on('afterChange', function(event, slick, currentSlide) {
  console.log(currentSlide);
    //If we're on the first slide hide the Previous button and show the Next
    if (currentSlide === 0) {
      $('.slick-prev').hide();
      $('.slick-next').show();
    }
    else {
      $('.slick-prev').show();
    }

    //If we're on the last slide hide the Next button.
    if (slick.slideCount === currentSlide + 1) {
      $('.slick-next').hide();
    }
  });
});

</script>
</html>
