<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/navbar' %>   
<%= stylesheet_link_tag 'pages/pos' %>   
<%= stylesheet_link_tag 'pages/footer' %>

</head>
<body>

<header id="main_header_bg">
  <div class="container_e">
      <%= render 'layouts/navbar' %>
      <div class="row">
        <div class="col-md-12">
          <div class="w_f_pos_system_text">
            <h3>Things go faster with our POS System</h3>
            <p>Fastest does the job. 
                Fastest fits the bill. </p>
          </div>
          <div class="w_f_pos_system_img">
            <img src="/assets/pos/banner-inner.svg">
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<section id="creat_acc_secc">
  <div class="container_e">
    <div class="row">
      <div class="col-md-12">
        <div class="creat_acc_text">
          <div class="create_btn">
            <button class="c_account_btn open_signup">CREATE ACCOUNT ></button>
            <button class="r_a_demo_btn open_signup">REQUEST A DEMO ></button>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
<section id="cloud_based_sec">
  <div class="container_e">
    <div class="row">
      <div class="col-md-12">
        <div class="cloud_based_text">
          <h3>An Exhaustive Cloud-Based POS System </h3>
          <p>A modest, smart, customized network that makes your business run easier. </p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="cloud_based_icon_pera">
          <img src="/assets/pos/a-p-easily.svg">
          <h3>Easier Payment System </h3>
          <p>You are entitled to accept all types of payments.
          Insert your card information, take your gift card, scan checks immediately while purchasing. </p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="cloud_based_icon_pera">
          <img src="/assets/pos/save-time.svg">
          <h3>Pitch your clients </h3>
          <p>Create and manage your clients’ database, set up the program and access the tools such as feedback and promotions thus ensuring interactive access to your client to win their trust and loyalty. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cloud_based_icon_pera">
          <img src="/assets/pos/e-a-data.svg">
          <h3>Accessible Data </h3>
          <p>Manage sales, refunds and customer’s interaction habits. Export reports for payroll, taxes, and accounting</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="customer_store_info_sec">
  <div class="row_e">
    <div class="col_md_6_img">
      <div class="customer_store_info_img l_img">
        <img src="/assets/pos/online_store_img.svg">
      </div>
    </div>
    <div class="col_md_6_text">
      <div class="customer_store_info_text">
        <h3>Take your business <br>to the next level.</h3>
        <strong>Online and in- store</strong>
        <p>
        World Payments is designed to work seamlessly for faster customers’ usage of the sale system. Our system works on iPad, Mac, and PC, whether you are online or offline. It connects to the modern hardware including barcode scanners, receipt printers, cash drawers. Through our immediate responses in the selling point system, your clients will find It easy and fast to purchase and sell more to your customers. 
        </p>
        <strong> In-store world payments POS </strong>
        <p>
        Connect your online store with Vend, and manage your inventory and customer profiles from your pc. Sync your products, and bring all your business operation into Vend. In a few minutes, you are in control over everything - the small and the big details. 

        </p>
      </div>
    </div>
    <div class="clear_e"></div>
  </div>
  <div class="row_e">
    <div class="col_md_6_img_r mobile">
        <div class="customer_store_info_img_r r_img">
          <img src="/assets/pos/online_store_img2.svg">
        </div>
    </div>
    <div class="col_md_6_text_l">
        <div class="customer_store_info_text">
          <h3>Widen your business</h3>
            <p>
              World payment system helps you stay ahead of your competitors by providing accurate information of transaction at every step including sales and products performance, that is accessible anytime and anywhere. Insightful reporting tools keep you informed about the details of customers, products, inventory, and staff. All this can be easily accessed with one click.
          </p>
          <p>
            You can easily manage one or hundreds of stores. Build your empire by adding new stores with easy registration by one click from your home. Staff training and motivation can also be performed through our system. All the safety and security of data is guaranteed.
          </p>
        </div>
    </div>
    <div class="col_md_6_img_r desktop">
        <div class="customer_store_info_img_r r_img">
          <img src="/assets/pos/online_store_img2.svg">
        </div>
    </div>
    <div class="clear_e"></div>
  </div>
  <div class="row_e">
    <div class="col_md_6_img">
      <div class="customer_store_info_img p_l40">
        <img src="/assets/pos/online_store_img3.svg">
      </div>
    </div>
    <div class="col_md_6_text">
      <div class="customer_store_info_text">
        <h3>Accept any and every type of Payment</h3>
        <p>Vend ensures that you get the payments easily. Set up custom buttons for the cash, cards, gift cards, checks or any other type of payment that is your requirement. Payments on Layaway sales, partial payments, deposits or account – the choice is yours.</p>
        <p>Accept credit or debit cards, mobile payments through phones or card machines. You can easily connect to PayPal or Worldpay or Square (to name the few) to your Vend POS system and you are good to go.</p>
        <p>POS can be easily understood, train your staff in a few minutes, keep them motivated all the time. Then relax know that with POS it’s always safe, secure, and available anytime you need it </p>

      </div>
    </div>
    <div class="clear_e"></div>
  </div>

  
</section>
<section id="get_ur_w_pos_system_sec">
  <div class="container_e">
    <div class="get_ur_w_pos_system_head">
      <h3>Get World Payments POS System </h3>
      <p>Set up your world Payments POS system sync all of the devices and applications for your business, you can easily add more devices or applications. You can order POS system online or contact us, we will be happy to assist you to plan your business. </p>
      <button>Contact Sales</button>
    </div>
  </div>
  <div class="get_ur_w_pos_system_img">
    <img src="/assets/pos/recirculation-module.png">
  </div>
</section>
<!-- <section id="about_card_sec">
  <div class="container_e">
    <div class="about_card_heading">
      <h3>Card Machines: for your business transaction</h3>
    </div>
    <div class="row mb_20">
      <div class="col-md-6">
        <div class="about_card_gray">
          <h4>Customized Machines</h4>
          <p>World payments pride in understanding the intricacies of your business and its unique requirements. Therefore we make sure that you receive proper customer support services for the credit card processing and other needs.</p>
          <a href="#">
              Learn More ->
          </a>
        </div>
      </div>
      <div class="col-md-6">
          <div class="about_card_gray">
            <h4>24/7 Support Service</h4>
            <p>Our professional team is always at your service to help, support and provide solutions to your coding or any other issue. Please feel free to contact Support or our Sales Team.</p>
            <a href="#">
                Learn More ->
            </a>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="about_card_gray">
            <h4>Advanced Terminal</h4>
            <p>Our highly developed POS system and Advance Terminal allows the growth of your business intricacies through ease of access. Start accepting online and in-store payments by joining us today.</p>
            <a href="#">
                Learn More ->
            </a>
          </div>
        </div>
        <div class="col-md-6">
            <div class="about_card_gray">
              <h4>Simple Pricing</h4>
              <p>There are no hidden charges. Our pricing system is simple and transparent. You will always be aware of every transaction detail.</p>
              <a href="#">
                  Learn More ->
              </a>
            </div>
        </div>
    </div>
  </div>
</section>
 -->



<%= render 'layouts/footer' %>



</body>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
</html> 