<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<link rel="stylesheet" href="assets/owl.carousel.min.css">
<link rel="stylesheet" href="assets/owl.theme.default.min.css">

<%= stylesheet_link_tag 'pages/navbar' %>
<%= stylesheet_link_tag 'pages/about' %>
<%= stylesheet_link_tag 'pages/footer' %>

</head>
<body>

<header id="main_header_bg">
  <div class="container_e">
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-md-5">
        <div class="about_phone_sec">
          <div class="phone_img desktop">
            <img src="/assets/about/Phone.svg">
          </div>
          <div class="phone_card desktop">
            <img src="/assets/about/p-card.svg">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="about_banner_heading">
          <h3>Most Reliable Payment Gateway <br>
            with a 99.997% Uptime Track Record.
          </h3>
          <a href="javascript:;" class="open_signup">CREATE ACCOUNT ></a>

        </div>
      </div>
    </div>
  </div>
</header>
<section id="about_payment">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_pay_heading">
          <h3>About Worldpayments</h3>
          <p>In an ever growing world of digitalization, we at World Payments offers a unique online payment gateway where small or large businesses and professionals from various fields can operate fully functionally.  Our system helps to do transactions at the click of the finger. We are proud to interact with various professionals from around the world, to facilitate smooth cross border transactions without the hassles of bank and bankers’ requirements.</p>
          <p >World Payments is a platform where you can manage all your business activities in our user-friendly back office. It is unrivaled in terms of organization and provision of all the necessary insights and knowledge into your PSPs, merchants, banks, and analytics.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
 <div id="merchant">
   <div class="merchant_text">
    <div>
   <h1>What’s in it for you as a merchant</h1>
     <div class="title_bar mt-3">
    <img src="/assets/svg/after_Title_Icons_Bar.svg">
   </div>
     <p>Manage all your business activity in one back office, which is user-friendly, and unrivalled in terms of
     organization and giving you all the necessary insight and knowledge into your PSPs, merchants, banks, and analytics.</p>
  </div>

   <div id="merchant_graphics">
    <div class="row">
      <div class="col-md-8 offset-2 row">
         <div class="payment_gateway col-md-4">
            <img src="/assets/svg/most_reliable_payment_gateway.svg">
         </div>
           <div class="unique_optimization col-md-4">
            <img src="/assets/svg/unique_optimization_features.svg">
           </div>
           <div class="traffic_routing col-md-4">
            <img src="/assets/svg/traffic_routing.svg">
           </div>
      </div>
  </div>
  <div class="row">
     <div class="col-md-8 offset-2 row">
       <div class="risk_management col-md-4">
      <img src="/assets/svg/intelligent_risk_management.svg">
     </div>
     <div class="office_reporting col-md-4">
      <img src="/assets/svg/back_office_reporting.svg">
     </div>
     <div class="one_stop col-md-4">
      <img src="/assets/svg/one_stop_shop.svg">
     </div>
     </div>
    </div>
   </div>
   </div>
 </div>
</section>
<section id="about_gray_sec">
  <div class="container">
    <div class="gray_sec_pera">
      <p>
          Manage all your business activity in one back
          office, which is user-friendly, and unrivalled in
          terms of organization and giving you all the
          necessary insight and knowledge into your PSPs,
          merchants, banks, and analytics.
      </p>
    </div>
  </div>
</section>
<section id="pricing_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pricing_heading">
          <h3>Pricing Plan</h3>
          <p>World Payments is a platform where you can manage all your business activities in our user-friendly back office. It is unrivaled in terms of organization and provision of all the necessary insights and knowledge into your PSPs, merchants, banks, and analytics.</p>
        </div>
      </div>
    </div>
    <div class="integrated_sec">
        <div class="integrated_left">
          <h4>Integrated</h4>
          <h5>2.9% + 30 c</h5>
          <p>
            We offer a fully integrated platform for all your online payments.
          </p>
          <ul>
            <li>
              Everything you need to manage payments
            </li>
            <li>
                No setup fees, monthly fees, or hidden fees
            </li>
            <li>
                Phone & Mail Support
            </li>
            <li>
                1 Year License
            </li>
          </ul>
          <div class="get_started_btn">
            <a href="#">GET STARTED ></a>
          </div>
        </div>
        <div class="customized_right">
            <h4>Customized</h4>
            <p>We offer customized package for your business needs.
            </p>
            <ul>
              <li>
                  Volume discounts
              </li>
              <li>
                  Interchange pricing

              </li>
              <li>
                  Multi-product discounts
              </li>
              <li>
                  Bring your own Amex rates
              </li>
            </ul>
            <div class="get_started_btn">
              <a href="#">CONTACT SALES</a>
            </div>
        </div>
        <div class="clear_e"></div>
    </div>
  </div>
</section>
<section id="mission_statement_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mission_heading">
          <h3>Mission Statement</h3>
          <p> We do all the technical stuff so that you can focus on your customers and sales.</p>
          <ul>
            <li> A single platform for ease of access and global commerce execution.</li>
            <li> A single platform to handle cross border payments issues.</li>
            <li> A single platform to increase the financial dealings within global markets.</li>
            <li> We excel in winning the trust of merchants, corporates and individuals by offering secure payment systems and options.
                </li>
            <li> Our low cost financial solutions are reliable, fast and adaptable in emerging & established global markets for payment processes.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<section id="our_vision_sec">
  <div class="container mission_heading">
    <h3>Our Vision</h3>
    <div id="vision_content">
   <div class="col-v-1">
    <div class="fast_integration">
     <img src="/assets/svg/fast_integration.svg">
    </div>
    <div class="customization">
     <img src="/assets/svg/customization.svg">
    </div>
    <div class="flexibilty">
     <img src="/assets/svg/flexibility.svg">
    </div>
   </div>
   <div class="col-v-2">
   <div class="innovation">
    <img src="/assets/svg/innovation.svg">
   </div>
   <div class="service">
    <img src="/assets/svg/service.svg">
   </div>
   </div>
 </div>
</section>
   </div>
</section>

<section id="our_clients_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our_clients_heading">
          <h3>SOME TALK OF OUR CLIENTS</h3>
        </div>
      </div>
    </div>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <div class="row">
          <div class="col-md-6 display_1">
            <div class="clients_slide_part">
              <div class="clients_slide_img">
                <img src="/assets/about/clients-img01.svg" width="122">
              </div>
              <div class="clients_slide_text">
                <h4>OLIVER GOMEZ</h4>
                <h5>Store Owner @ Shopify</h5>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,good.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="clients_slide_part">
                <div class="clients_slide_img">
                  <img src="/assets/about/clients-img01.svg" width="122">
                </div>
                <div class="clients_slide_text">
                  <h4>OLIVER GOMEZ</h4>
                  <h5>Store Owner @ Shopify</h5>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,good.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>


<%= render 'layouts/footer' %>

</body>
<script src="assets/jquery.min.js"></script>
<script src="assets/owl.carousel.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/custom_e.js"></script>

</html>
