<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>World Payment Card Machines</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="assets/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome.min.css">
<%= stylesheet_link_tag 'pages/navbar' %>   
<%= stylesheet_link_tag 'pages/blog' %>   
<%= stylesheet_link_tag 'pages/footer' %> 

</head>
<body>
  <%= render 'layouts/navbar_simple' %>
  <section id="blog_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog_heading">
          <h3>Blog</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog_box">
          <img src="/assets/blog/blog-icon-1.svg">
          <h3>
            How online 
            payments work
          </h3>
          <p>
            Consectetur adipiscing elit ipsum dolor sit amet, consectetur 
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>

  <%= render 'layouts/footer' %>

  <!-- Dropdown menu start -->
   

</body>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
</html> 